<div id="<%= dom_id todo %>" class="border rounded-lg p-4 px-6 mb-4 flex gap-4 items-center justify-between">
  <%= turbo_frame_tag dom_id(todo, :edit), class: "contents" do %>
  
    <h2 class="text-xl font-bold">
      <%= todo.title %>
    </h2>

    <div class="flex gap-4 items-center">
      
      <%= link_to "Edit", edit_todo_path(todo), class: "link" %>
      
      <%= form_with model: todo, method: :patch do |form| %>
        <%= form.check_box :completed, { checked: todo.completed, onchange: "this.form.requestSubmit();", class: "checkbox" } %>
      <% end %>

    </div>

  <% end %>
</div>
