<div id="<%= dom_id todo %>" class="todo group border-b transition-all py-4 mb-4 flex gap-4 items-center justify-between">
  
    <%= turbo_frame_tag dom_id(todo, :edit) do %>
      <h2 class="text-xl font-bold <%= todo.completed? ? "line-through text-gray-500" : "" %>">
        <%= todo.title %>
      </h2>
    <% end %>

    <div class="flex gap-4 items-center">
      
      <%= link_to "Edit", edit_todo_path(todo), class: "link", data: { turbo_frame: dom_id(todo, :edit) } %>
      
      <%# Send params to controller with request.query_parameters %>
      <%= form_with url: complete_todo_path(todo, request.query_parameters), method: :patch do |form| %>
        <%= form.check_box :completed, { checked: todo.completed, onchange: "this.form.requestSubmit();", class: "checkbox group-hover:border-blue-600 cursor-pointer" } %>
      <% end %>

    </div>

  
</div>
