<%= turbo_stream_from "todos" %>

<% content_for :title, "Todos" %>

<h1 class="font-black text-4xl mb-6">Todos</h1>

<%= render "form", todo: @todo %>

<%= search_form_for @q do |f| %>

  <div class="flex gap-4 items-center pt-4 pb-8">

    <div class="flex items-center gap-2 flex-row-reverse">
      <%= f.label :completed_eq, "All", class: "form-inline-label" %>
      <%= f.radio_button :completed_eq, nil, onchange: "this.form.requestSubmit();", class: "radio" %>
    </div>
    
    <div class="flex items-center gap-2 flex-row-reverse">
      <%= f.label :completed_eq_true, "Completed", class: "form-inline-label" %>
      <%= f.radio_button :completed_eq, true, onchange: "this.form.requestSubmit();", class: "radio" %>
    </div>

    <div class="flex items-center gap-2 flex-row-reverse">
      <%= f.label :completed_eq_false, "Not Completed", class: "form-inline-label" %>
      <%= f.radio_button :completed_eq, false, onchange: "this.form.requestSubmit();", class: "radio" %>
    </div>

  </div>
<% end %>

<% if params.dig(:q, :completed_eq) != "true" && params.dig(:q, :completed_eq) != "false" %>
  <div id="progress">
    <%= render "todos/progress", todos: @todos %>
  </div>
<% end %>

<div id="todos">
  <%= render @todos %>
</div>

