<% content_for :title, "Todos" %>

<h1 class="font-black text-4xl mb-6">Todos</h1>

<div class="todo-form">
  <%= render "form", todo: @todo %>
</div>

<%= search_form_for @q do |f| %>

  <div class="flex flex-col md:flex-row gap-4 md:items-center pt-4 pb-8">

    <%= link_to "Show all", todos_path, class: "form-inline-label" %>
    
    <div class="flex items-center gap-2">
      <%= f.radio_button :completed_eq, true, oninput: 'this.form.requestSubmit()', class: "radio" %>
      <%= f.label :completed_eq_true, "Completed", class: "form-inline-label" %>
    </div>

    <div class="flex items-center gap-2">
      <%= f.radio_button :completed_eq, false, oninput: 'this.form.requestSubmit()', class: "radio" %>
      <%= f.label :completed_eq_false, "Not Completed", class: "form-inline-label" %>
    </div>

  </div>
<% end %>

<% if params.dig(:q, :completed_eq) != "true" && params.dig(:q, :completed_eq) != "false" %>
  <div id="progress">
    <%= render "todos/progress", todos: @todos %>
  </div>
<% end %>

<div id="todos">
  <%= render @todos %>
</div>

